@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.screen-one {
  /* background-image: url(../images/screen-one.png); */
  background-color: #4C00ED;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 838px;
}

.container {
  max-width: 1400px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

/* ------------------------- MENU ------------------------- */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #ffffff;
}

.menu ul {
  display: flex;
}

li {
  list-style: none;
}

.links {
  padding: 0 1.25em 0 1.25em;
  font-size: 20px;
}

.links-r {
  padding: 0 0 0 1.25;
  font-size: 20px;
}

.logo {
  font-size: 32px;
  font-weight: bolder;
}
/* --------------------------------------------------------------------- */

/* ------------------------- BARRA DE PESQUISA ------------------------- */
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}


.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 20em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
  height: 2.25em;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 300;
  color: black;
  font-size: 20px;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 2.3em;
  fill: #b4b4b4;
}
/* --------------------------------------------------------------------- */

/* ------------------------- BANNER ------------------------- */

.banner {
  height: 768px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 96px;
}

.slogan {
  font-size: 32px;
  font-weight: 500;
}

.text-box {
  width: 475px;
  color: #fff;
  /* background-color: green; */
}

.image-box {
  /* background-color: red; */
}

.image-box img {
  width: 700px;
  height: 420px;
  margin-bottom: 6em;
  filter:contrast(1.3);
}

/* --------------------------------------------------------------------- */

/* ------------------------- BOOKS ------------------------- */

.screen-two {
  margin-top: 10em;
}

.recent-announcements {
  margin-top: 6em;
}

/* ------------------------- Livro 3d ------------------------- */
.book-container { 
  width: 375px; 
  margin: 40px auto; 
  display: block;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.book { 
  z-index: 5; 
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  transition: 0.75s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 125px 0;
  -moz-transform-origin: 125px 0;
  transform-origin: 125px 0;
}
.book:after { 
  content: ""; 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 3px; 
  width: 7px; 
  z-index: 20;
  -webkit-transform: translateZ(1px);
  /* Fix for flickering in Chrome  */
}
.book:hover {
    -webkit-transform: translateX(-10px) translateZ(35px) translateX(35px) rotateY(45deg);
    -moz-transform: translateX(-10px) translateZ(35px) translateX(35px) rotateY(45deg);
    transform: translateX(-10px) translateZ(35px) translateX(35px) rotateY(45deg);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    .book-spine {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    }
}
.book-cover { 
  position: relative; 
  z-index: 10; 
}

.book-cover img { 
  vertical-align: bottom; 
  max-width: 100%; 
  height: auto; 
}
.book-spine { 
  position: absolute; 
  color: #fff; 
  position: absolute; 
  bottom: 0; 
  top: 0; 
  width: 50px; 
  z-index: 5; 
  overflow: hidden; 
  background-color: #4C00ED;
  background-size: auto 100%;
  -webkit-transform: rotateY(-90deg) translateX(-49px);
  -moz-transform: rotateY(-90deg) translateX(-49px);
  transform: rotateY(-90deg) translateX(-49px);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}
.book-spine h1 { 
  display: block; 
  width: 325px; 
  text-align: left; 
  color: #fff; 
  position: absolute; 
  top: 0; 
  left: 39px; 
  text-indent: 43px; 
  text-transform: uppercase; 
  font-family: 'Roboto', sans-serif;
  font-size: 2em; 
  opacity: 0.75; 
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}
.book-spine:before { 
  display: block; 
  content: ""; 
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.3); 
}

/* --------------------------------------------------------------------- */




.image-box {
  display: inline-block; 
  animation: swing 3s ease-in-out infinite; 
  transform-origin: start bottom; 
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg); 
  }
  100% {
    transform: rotate(0deg);
  }
}